/* Header */
header {
  max-width: 2000px;
}

/* Navbar */

#main-navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--cor-11);
  justify-items: center;
}

.navbar-brand {
  position: relative;
  margin: 0;
}

#main-navbar .img-logo {
  margin-top: 20px;
  width: 200px;
  height: 80px; 
  margin-left: 30px;
  object-fit: cover;
}

#main-navbar .img-logo-2 {
  margin-top: 10px;
  width: 80px;
  height: 100px;
  object-fit: cover;
}

#search-form {
  align-content: center;
  background-color: var(--cor-0);
  border-radius: 20px;
  width: 60%;
}

#search-form {
  display: flex;
}

#search-form input {
  padding: 10px 40px 10px 15px;
  border-radius: 20px;
}

#search-form .form-control {
  justify-content: center;
  align-items: center;
  border: none;
  width: 90%;
  margin: 0 auto;
  box-shadow: none;
}

#search-form input::placeholder {
  color: var(--cor-3);
  font-size: 14px;
  opacity: 1;
}

#search-form .btn {
  padding: 0px;
  position: relative;
  margin: 0px 8px  auto;
}

#search-form .fas {
  width: 20px;
  position: relative;
}

.collapse {
  width: 0px;
}

#navbar {
  min-width: 30% ;
}

.navbar-nav {
  display: inline;
  justify-content: flex-end;
  width: 100%;
}

.nav-item .nav-link {
  display:flex;
  padding: 0px;
  gap: 10px;
  text-transform: uppercase;
  transition: 0.3ms;
  position: relative;
  border-bottom: 2px solid transparent;
}

.nav-item .nav-link:hover {
  color: var(--cor-4);
}

.nav-item .nav-link::before {
  content: "";
  width: 0px;
  height: 3px;
  background-color: var(--cor-0);
  position: absolute;
  bottom: 0px;
  transition: 0.3s;
} 

.nav-item .nav-link:hover::before {
  width: 100%;
}

/* Message */

.msg-container {
  display: flex;
  text-transform: uppercase;
  width: 370px;
  height: 100px;
  color: var(--cor-0);
  background-color: var(--cor-12) ;
  padding: 15px;
  justify-content: space-between;
  justify-self: center; 
}

.msg {
  text-align: center;
  margin: 0 auto;
  color: var(--cor-0);
  padding:15px;
  border: solid 1px var(--cor-12);
  align-self: center;
  justify-content: space-between;
}

.msg-container .fa-solid {
  font-size: 30px;
  color: var(--cor-e3);
  align-self: center;

}

.msg.error {
  color: var(--cor-e1);
  background-color: var(--cor-e2);
  border-color: var(--cor-e3);
  border-radius: 4px;
  position: relative;
}

.msg.succes {
  color: var(--cor-s1);
  background-color: var(--cor-s2);
  border-color: var(--cor-s3);
  border-radius: 4px;
}